.news {
  display: block;
  list-style: none;

  &::after {
    content: "";
    flex: auto;
  }

  .item {
    width: 100%;

    &>img {
      width: 100%;
      max-width: 400px;
      margin: 20px 0;
    }
  }
}

.button {
  margin: 10px 0;
  width: 300px;
  height: 60px;
}
